@use "@/styles/mixin/mixins" as *;

.stats {
  display: grid;
  grid-template-columns: cols(3) cols(1) cols(1.25);
  font-size: text(20);
  font-weight: 500;
  line-height: 1.1;
  row-gap: 0.8rem;
  column-gap: 0.8rem;
}

.stats__row {
  display: contents;
}

.stats__term {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 1;
}

.stats__desc {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 1;
  text-align: right;
}

.stats__unit {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 1;
  text-align: right;
  font-size: 2rem;
}

.stats__unit.stats__unit--small {
}
