@use "@/styles/mixin/mixins" as *;

.design {
}

.list {
  display: grid;
  row-gap: 5rem;
}

.item {
  display: grid;
  row-gap: 0.8rem;
}

.item__title {
  font-weight: 400;
  font-size: text(24);
  text-shadow: 0rem 0rem 0.1rem rgba(66, 240, 191, 0.3);
}

.item__text {
  font-size: text(16);
  text-shadow: 0rem 0rem 0.1rem rgba(66, 240, 191, 0.3);
  text-align: justify;
}

@include mq(sp) {
  .design {
  }

  .list {
    display: grid;
    row-gap: 3.2rem;
  }

  .item {
    display: grid;
    row-gap: 0.4rem;
  }

  .item__title {
    font-weight: 700;
    font-size: text(16);
    line-height: 1;
    text-shadow: 0rem 0rem 0.1rem rgba(66, 240, 191, 0.3);
  }

  .item__text {
    font-size: text(12);
    text-shadow: 0rem 0rem 0.1rem rgba(66, 240, 191, 0.3);
    text-align: justify;
  }
}
