@use "@/styles/mixin/mixins" as *;

.marquee {
  animation-duration: 0.001s;

  // animation-name: twincle;
  // animation-iteration-count: infinite;
  // background-image: url("/images/texture/noise.png");
  // background-position: center;
  // background-repeat: repeat;
  // background-size: 5% 5%;
  position: relative;
  width: 100%;
  z-index: 0;
}

.marquee__bg {
  background-color: var(--lemon-1);
  inset: 0;
  opacity: 1;
  scale: 1 0.96; //境界にすじができるのを防ぐ
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.marquee__bg__banner {
  background-image: url("/images/top/skills.svg");
  background-repeat: repeat;
  background-size: 2000% 100%;
  height: 50%;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  rotate: z -30deg;
  translate: calc(-50%) -50%;
  width: 200%;
  z-index: 2;
}

.marquee__bg__banner {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      background-position: calc(50% + (($i - 5) * 20rem)) 50%;
      top: calc(($i - 5) * calc(50% + 3.2rem));
    }
  }
}

.marquee__inner {
  animation-duration: 48s;
  animation-iteration-count: infinite;
  animation-name: marquee-move;
  animation-timing-function: linear;
  display: grid;
  font-size: 25.6rem;
  grid-auto-flow: column;
  line-height: 1;
}

.marquee__content {
  border: 0.1rem solid var(--black-1);
  background-color: #151515;
  height: calc(22.3rem * 1);
  mask-image: url("/images/top/gateway_alt.svg");
  mask-position: 50% calc(50% + 0px);
  mask-repeat: no-repeat;
  mask-size: calc(100% + 1px) calc(125% + 1px);
  width: calc(352.8rem * 1);
}

@keyframes marquee-move {
  0% {
    translate: 0;
  }

  100% {
    translate: calc(-352.8rem * 1);
  }
}

@include mq(sp) {
  .marquee {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .marquee__bg {
    background-color: var(--lemon-1);
    inset: 0;
    scale: 1 0.96;
    opacity: 1;
    position: absolute;
    z-index: -1;
  }

  .marquee__bg__banner {
    background-image: url("/images/top/skills.svg");
    background-repeat: repeat;
    background-size: 2000% 100%;
    height: 50%;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    rotate: z -30deg;
    translate: calc(-50%) -50%;
    width: 200%;
    z-index: 2;
  }

  .marquee__bg__banner {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        background-position: calc(50% + (($i - 5) * 10rem)) 50%;
        top: calc(($i - 5) * calc(50% + 0.8rem));
      }
    }
  }

  .marquee__inner {
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-name: marquee-move;
    animation-timing-function: linear;
    display: grid;
    font-size: 9.6rem;
    grid-auto-flow: column;
    line-height: 1;
  }

  .marquee__content {
    --coefficient: 0.4;
    background-color: #151515;
    height: calc(22.3rem * var(--coefficient));
    mask-image: url("/images/top/gateway_alt.svg");
    mask-position: 50% calc(50% + 0px);
    mask-repeat: no-repeat;
    mask-size: calc(100% + 1px) calc(150% + 1px);
    width: calc(352.8rem * var(--coefficient));
  }

  @keyframes marquee-move {
    0% {
      translate: 0;
    }

    100% {
      translate: calc(-352.8rem * 0.3);
    }
  }
}
