@use "@/styles/mixin/mixins" as *;

.nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  column-gap: 2.4rem;
}

.nav__item {
}

.nav__link {
  display: grid;
  font-size: text(64);
  text-shadow: 0 0 0.1rem var(--water-1);
  transition: var(--duration);
}

.nav__link.icon {
  display: grid;
}

.nav__link.icon svg {
  transition: var(--duration);
}

@media (hover: hover) and (pointer: fine) {
  .nav__link:hover {
    color: var(--danger);
    text-shadow: 0 0 0.1rem var(--danger);
  }
  .nav__link:hover svg path {
    fill: var(--danger);
  }
}

@include mq(sp) {
  .nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    column-gap: 1.2rem;
  }

  .nav__item {
  }

  .nav__link {
    display: grid;
    font-size: text(20);
  }

  .nav__link.icon {
    display: grid;
  }
}
