@use "@/styles/mixin/mixins" as *;

.ideology {
}

.ideology__textbox {
  display: grid;
  row-gap: 1.2rem;
  text-align: justify;
}

.ideology__text {
  font-size: text(16);
  text-shadow: var(--blue-shadow);
}

@include mq(sp) {
  .ideology {
  }

  .ideology__textbox {
    display: grid;
    row-gap: 1.2rem;
    text-align: justify;
  }

  .ideology__text {
    font-size: text(12);
  }
}
