@use "@/styles/mixin/mixins" as *;

.archive {
  display: grid;
  row-gap: 3.2rem;
}

.item {
  display: grid;
  min-height: 17.7rem;
  overflow: hidden;
  position: relative;
  width: calc(var(--col) * 12 + var(--gap) * 12);
  z-index: 0;
}

.item.unavailable {
  pointer-events: none;
}

.item__inner {
  place-content: start space-between;
  align-items: start;
  display: grid;
  grid-template-columns: auto auto;
  padding-inline: 2.4rem;
}

.item__header {
  display: grid;
  padding-top: 1.6rem;
  row-gap: 1.6rem;
}

.item__heading {
  align-items: center;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}

.item__title {
  color: var(--black-1);
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1;
}

.item__icon {
  display: grid;
  transition: 0.2s;
}

.item__icon svg {
  --width: 4rem;
  --height: 4rem;

  height: var(--height);
  width: var(--width);
}

.item__description {
  color: var(--black-1);
  font-size: text(16);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1;
}

.item__amount {
  color: var(--black-1);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1;
  margin-top: -2rem;
}

.item__bg {
  display: grid;
  inset: 0;
  position: absolute;
  z-index: -1;
}

.item__bg svg {
  height: 17.9rem;
  width: 72rem;
}

.item__bg svg path {
  transition: 0.2s;
}

.item__warning {
  display: grid;
  left: 50%;
  opacity: 0.6;
  position: absolute;
  rotate: -15deg;
  top: 50%;
  translate: calc(-50% + 13rem) calc(-50% + 1rem);
  width: 84rem;
  z-index: 1;
}

.item__warning img {
}

@media (hover: hover) and (pointer: fine) {
  .item:hover .item__icon {
    translate: 0.5rem -0.5rem;
  }

  .item:hover .item__bg svg path {
    fill: var(--danger);
  }

  .item.unavailable:hover .item__icon {
    translate: 0 0;
  }

  .item.unavailable:hover .item__bg svg path {
    fill: var(--white-1);
  }
}

@include mq(sp) {
  .archive {
    display: grid;
    row-gap: 1.4rem;
    width: 32rem;
  }

  .item {
    display: grid;
    min-height: 7.776rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .item.unavailable {
  }

  .item__inner {
    place-content: start space-between;
    align-items: start;
    display: grid;
    grid-template-columns: auto auto;
    padding-inline: 2.4rem;
  }

  .item__header {
    display: grid;
    padding-top: 0.8rem;
    row-gap: 0.8rem;
  }

  .item__heading {
    align-items: center;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
  }

  .item__title {
    color: var(--black-1);
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1;
  }

  .item__icon {
    display: grid;
    transition: 0.2s;
  }

  .item__icon svg {
    --width: 1.6rem;
    --height: 1.6rem;

    height: var(--height);
    width: var(--width);
  }

  .item__description {
    color: var(--black-1);
    font-size: text(14);
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1;
  }

  .item__amount {
    color: var(--black-1);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1;
    margin-top: -2rem;
    position: absolute;
    right: 0.4rem;
    top: 1.2rem;
  }

  .item__bg {
    display: grid;
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .item__bg svg {
    height: 7.776rem;
    width: 32rem;
  }

  .item__bg svg path {
    transition: 0.2s;
  }

  .item__warning {
    display: grid;
    left: 50%;
    opacity: 0.6;
    position: absolute;
    rotate: -15deg;
    top: 50%;
    translate: calc(-50% + 11rem) calc(-50% - 0rem);
    width: 40rem;
    z-index: 1;
  }

  .item__warning img {
  }
}
