@use "@/styles/mixin/mixins" as *;

.indicator {
  width: fit-content;
  padding: 0.8rem;
  background-color: var(--white-1);
  border-radius: 0.4rem;
}

.indicator__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 1rem;
}

.indicator__icon {
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: grid;
  background-color: var(--black-1);
}

.indicator__icon svg {
  --width: 2.15rem;
  --height: 2.16rem;

  width: var(--width);
  height: var(--height);
}

.indicator__content {
  padding-top: 0.4rem;
  display: grid;
}

.indicator__text {
  font-size: text(24);
  color: var(--black-1);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.07em;
}
