@use "@/styles/mixin/mixins" as *;

body.is-transitioning .transition-overlay {
  opacity: 1;
  pointer-events: none;
}

body.is-transitioning .transition-overlay__label {
  animation-name: scale-up;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: var(--easeOutQuart);
}

@keyframes scale-up {
  0% {
    scale: 1 0;
  }
  100% {
    scale: 1 1;
  }
}

body.is-transitioning .transition-overlay__char:nth-child(n + 1) {
  animation-name: twincle;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0.01s;
}
body.is-transitioning .transition-overlay__char:nth-child(2n + 1) {
  animation-name: twincle;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0.01s;
}
body.is-transitioning .transition-overlay__char:nth-child(3n + 1) {
  animation-name: twincle;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
body.is-transitioning .transition-overlay__char:nth-child(4n + 1) {
  animation-name: twincle;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0.01s;
}
body.is-transitioning .transition-overlay__char:nth-child(5n + 1) {
  animation-name: twincle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

@keyframes twincle {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.6;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

body.is-transitioning .transition-overlay__bg {
  animation-name: slide-around;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: var(--easeOutQuart);
}

@keyframes slide-around {
  0% {
    transform: translate(calc(50% + 100vw), -50%) skew(-15deg);
  }
  50% {
    transform: translate(calc(-50% + 0vw), -50%) skew(-15deg);
  }
  100% {
    transform: translate(calc(-50% - 100vw), -50%) skew(-15deg);
  }
}
