@use "@/styles/mixin/mixins" as *;

.stats {
  gap: 0.8rem;
  display: grid;
  font-size: text(20);
  font-weight: 500;
  grid-template-columns: cols(3) cols(1) cols(1.25);
  line-height: 1.1;
}

.stats__row {
  display: contents;
}

.stats__term {
  display: grid;
  grid-column: span 1;
  grid-template-columns: subgrid;
  text-shadow: var(--blue-shadow);
}

.stats__desc {
  display: grid;
  grid-column: span 1;
  grid-template-columns: subgrid;
  text-align: right;
  text-shadow: var(--blue-shadow);
}

.stats__unit {
  display: grid;
  font-size: 2rem;
  grid-column: span 1;
  grid-template-columns: subgrid;
  text-align: right;

  text-shadow: var(--blue-shadow);
}

.stats__unit.stats__unit--small {
}

@include mq(sp) {
  .stats {
    align-items: end;
    gap: 0.8rem;
    display: grid;
    font-size: text(16);
    font-weight: 500;
    grid-template-columns: 1fr cols(1) cols(1.25);
    line-height: 1;
  }

  .stats__row {
    display: contents;
  }

  .stats__term {
    display: grid;
    grid-column: span 1;
    grid-template-columns: subgrid;
  }

  .stats__desc {
    display: grid;
    grid-column: span 1;
    grid-template-columns: subgrid;
    text-align: right;
  }

  .stats__unit {
    display: grid;
    font-size: 1.4rem;
    grid-column: span 1;
    grid-template-columns: subgrid;
    text-align: right;
  }

  .stats__unit.stats__unit--small {
  }
}
