@use "@/styles/mixin/mixins" as *;

.header {
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
  padding-top: 4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-index-header);
  pointer-events: none;
}

.header__inner {
  display: grid;
  width: fit-content;
  pointer-events: auto;
}

.header__logo {
  display: block;
}

@include mq(sp) {
  .header {
    padding-inline: calc(var(--margin) * 1);
    padding-top: 1.6rem;
    position: fixed;
    width: 100%;
    z-index: var(--z-index-header);
  }

  .header__inner {
    display: grid;
    width: fit-content;
  }

  .header__logo {
    display: block;
  }
}
