@use "@/styles/mixin/mixins" as *;

.lead {
  display: grid;
}

.lead__text {
  font-size: text(32);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: var(--blue-shadow);
}

.lead__bars {
  display: grid;
  row-gap: 0.2rem;
}

.lead__bar1 {
  background-color: var(--white-1);
  height: 0.2rem;
  width: calc(var(--col) * 2 + var(--gap) * 2);
}

.lead__bar2 {
  background-color: var(--white-1);
  height: 0.2rem;
  width: calc(var(--col) * 3 + var(--gap) * 3);
}

.lead {
}

@include mq(sp) {
  .lead {
    display: grid;
  }

  .lead__text {
    font-size: text(20);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }

  .lead__bars {
    display: grid;
    row-gap: 0.2rem;
  }

  .lead__bar1 {
    background-color: var(--white-1);
    height: 0.2rem;
    width: calc(var(--col) * 2 + var(--gap) * 2);
  }

  .lead__bar2 {
    background-color: var(--white-1);
    height: 0.2rem;
    width: calc(var(--col) * 3 + var(--gap) * 3);
  }

  .lead {
  }
}
