@use "@/styles/mixin/mixins" as *;

.profile {
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
  padding-top: var(--section-space);
  background-image:
  //  repeating-linear-gradient(
  //     0deg,
  //     transparent,
  //     transparent 2px,
  //     rgba(21, 21, 21, 0) 2px,
  //     rgba(21, 21, 21, 0.3) 3px
  //   ),
    linear-gradient(
    180deg,
    rgba(21, 21, 21, 0) 0%,
    rgba(21, 21, 21, 0) 20%,
    rgba(21, 21, 21, 0.25) 40%,
    rgba(21, 21, 21, 0.5) 60%,
    rgba(21, 21, 21, 0.75) 80%,
    rgba(21, 21, 21, 1) 100%
  );
}

.profile__inner {
  display: grid;
  row-gap: var(--section-space);
}

.profile__content {
  display: grid;
  position: relative;
  row-gap: 3.2rem;
  z-index: 0;
}

.profile__lead {
}

.profile__textbox {
  display: grid;
  row-gap: 2.4rem;
  width: cols(10);
}

.profile__text {
  font-size: text(16);
  line-height: 1.5;
  text-align: justify;
}

.profile__text.kerning {
  letter-spacing: 0.01em;
}

.profile__status {
  align-items: end;
  display: grid;

  // grid-template-columns: auto auto;
  grid-template-areas: "tag tag" "stats photo";
  row-gap: 2.4rem;
  width: cols(10);
}

.profile__tag {
  grid-area: tag;
}

.profile__stats {
  grid-area: stats;
}

.profile__photo {
  aspect-ratio: 1/1;
  grid-area: photo;
  justify-self: end;
  width: 19rem;
}

.profile__link {
  display: grid;
  row-gap: 2.4rem;
}

@include mq(sp) {
  .profile {
    padding-inline: calc(var(--margin) * 1);
    padding-top: var(--section-space);
  }

  .profile__inner {
    display: grid;
    row-gap: var(--section-space);
  }

  .profile__content {
    display: grid;
    position: relative;
    row-gap: 3.2rem;
    z-index: 0;
  }

  .profile__lead {
  }

  .profile__textbox {
    display: grid;
    row-gap: 2.4rem;
    width: cols(8);
  }

  .profile__text {
    font-size: text(12);
    line-height: 1.5;
    text-align: justify;
  }

  .profile__status {
    align-items: center;
    display: grid;
    grid-template-areas: "tag photo" "stats stats";
    row-gap: 2.4rem;
    width: cols(8);
  }

  .profile__tag {
    grid-area: tag;
  }

  .profile__stats {
    grid-area: stats;
  }

  .profile__photo {
    aspect-ratio: 1/1;
    grid-area: photo;
    justify-self: end;
    width: 8.2rem;
  }

  .profile__link {
    display: grid;
    row-gap: 3.2rem;
  }
}
