@use "@/styles/mixin/mixins" as *;

.profile {
  padding-top: 25rem;
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
}

.profile__inner {
  display: grid;
  row-gap: 20rem;
}

.profile__content {
  display: grid;
  row-gap: 3.2rem;
  position: relative;
  z-index: 0;
}

.profile__lead {
}

.profile__textbox {
  width: cols(10);
  display: grid;
  row-gap: 2.4rem;
}

.profile__text {
  text-align: justify;
  font-size: text(16);
  line-height: 1.5;
}

.profile__status {
  width: cols(10);
  display: grid;
  row-gap: 2.4rem;
  // grid-template-columns: auto auto;
  grid-template-areas: "tag tag" "stats photo";
  align-items: end;
}

.profile__tag {
  grid-area: tag;
}

.profile__stats {
  grid-area: stats;
}

.profile__photo {
  grid-area: photo;
  justify-self: end;
  width: 19rem;
  aspect-ratio: 1/1;
}



.profile__link {
  display: grid;
  row-gap: 2.4rem;
}


@include mq(sp) {
}
