@use "@/styles/mixin/mixins" as *;

.loading {
  overflow: hidden;
  position: fixed;
  z-index: var(--z-index-loading);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}

.loading__inner {
  display: grid;
  row-gap: 1rem;
  align-content: center;
  width: cols(8);
  opacity: 0;
}

//-------プログレスバー-------
.progress {
  width: 100%;
}

.progress__bar {
  background-color: var(--white-1);
  height: 1rem;
}

//-------カウンター（ドラムロール）-------
.counter {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.counter__wrap {
  --size: 1.4rem;
  --font-size: calc(var(--size) * 0.75);
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: start;
  justify-content: start;
}

.counter__digit {
  width: calc(var(--size) * 1);
  aspect-ratio: 1/1;
  font-size: var(--font-size);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.counter__roll {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateY(calc(-10% * var(--progress))); //--progress: 0~1と変化するので、10%としている。
}
.counter__roll.ones {
  transition: 0.01s;
}
.counter__roll.tens {
  transition: 0.25s;
}
.counter__roll.hundreds {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.6s;
  transform: translateY(calc(-50% * var(--progress))); //--progress: 0,1と変化するので、50%としている。
}

.counter__num {
  width: var(--size);
  aspect-ratio: 1/1;
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.counter__percent {
  font-size: calc(var(--size) * 0.72);
  margin-left: 0.2rem;
  line-height: 1;
  display: grid;
  align-items: center;
}

//--------カウンター（テキスト）-------
.loading__text {
  justify-self: end;
  width: max-content;
  font-size: text(12);
  animation-duration: 0.01s;
  animation-name: twincle;
  animation-iteration-count: infinite;
  text-shadow: var(--blue-shadow);
}
.loading__text.complete {
  animation-name: complete;
  animation-duration: 0.01s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

//------ディスプレイ-------
.display {
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  left: 2rem;
  display: grid;
  font-size: text(10);
  grid-template-columns: repeat(2, auto);
  justify-content: start;
}

//-------ローディングアイコン-------
.lottie {
  pointer-events: none;
  display: grid;
  position: fixed;
  bottom: 2.8rem;
  left: 7.2rem;
  z-index: 0;
}

.lottie__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 32rem;
}

@keyframes twincle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes complete {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//--------オーバーレイ-------
.overlay {
  overflow: hidden;
  position: fixed;
  z-index: var(--z-index-loading-overlay);
  inset: 0;
  top: 0;
  left: 0;
  background-color: var(--black-1);
}
