@use "@/styles/mixin/mixins" as *;

.loading {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay {
  background-color: #fff;
  inset: 0;
  top: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  z-index: var(--z-index-loading-overlay);
}
