html {
  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Orbitron-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Orbitron-Medium.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Orbitron-SemiBold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Orbitron-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Orbitron-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Orbitron-Black.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NotoSansJP-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansJP-Medium.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansJP-Bold.woff") format("woff");
  }
}
