html {
  @font-face {
    font-display: swap;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Helvetica.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Helvetica-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Oxanium-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Oxanium-Medium.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Oxanium-SemiBold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Oxanium-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Oxanium-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Oxanium-Black.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NotoSansJP-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansJP-Medium.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansJP-Bold.woff") format("woff");
  }
}
